.post, .comment {
    margin-bottom: 8px;
}

.home {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
    margin-top: 32px;
}

.pageNav {
    display: grid;
    padding: 16px;
    gap: 8px;
}

.newer {
    grid-column: 1 / 2;
    justify-self: end;
}

.older {
    grid-column: 2 / 3;
    justify-self: start;
}

.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    margin: 0;
}