.post, .comment {
    margin-bottom: 16px;
}

.post {
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
}

.subtitle {
    margin-top: 0px;
    margin-bottom: 4px;
    font-weight: 500;
}

.bottomInfo {
    display: flex;
    flex-direction: column;
    justify-self: end;
    align-self: end;
    align-items: end;
}

.home {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
    gap: 32px;
}

.pageNav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 16px;
    gap: 8px;
}

.newer {
    grid-column: 1 / 2;
    justify-self: end;
}

.older {
    grid-column: 2 / 3;
    justify-self: start;
}

.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    margin: 0;
}