.comments > * {
    margin-bottom: 16px;
}

.info {
    font-weight: 600;
}

/* don't know how this style applies to the form since i didn't even import it in the component but hey it works */
form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    padding-bottom: 16px;
}
