.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.title {
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0px;
    margin-bottom: 4px;
    font-weight: 500;
}

.post > .content {
    margin-top: 16px;
}

.post {
    display: flex;
    flex-direction: column;
}

.info {
    margin-top: 16px;
    align-self: end;
}

.comments > * {
    margin-bottom: 16px;
}

.comment > .info {
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    padding-bottom: 16px;
}
