.main {
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    flex-direction: column;
    height: 100vh;
}

.title {
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0px;
    margin-bottom: 4px;
    font-weight: 500;
}

.post > .content {
    margin-top: 16px;
    height: 100%;
}

.content, .comment {
    white-space: pre-wrap;
}

.post {
    display: flex;
    flex-direction: column;
}

.post > .info {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    align-self: end;
    align-items: end;
    justify-self: end;
}

.updatedAt {
    font-size: 14px;
    /* font-style: italic; */
}

.comment {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(88, 88, 88);
    padding: 8px;
}

.comments > * {
    margin-bottom: 16px;
}

.comment > .info {
    font-weight: 600;
}

.commentId {
    grid-column: 2 / 3;
    justify-self: end;
}

.tinyInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
    margin-top: 16px;
    font-size: 12px;
}

.commentUpdated {
    grid-column: 1 / 2;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    padding-bottom: 16px;
}
